
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}

.main{
     margin: 1rem;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 0.4rem black);

}

.personal,
.skills, .language{
    padding: 1.5rem;
    line-height: 2rem;
}

ul{
    list-style: none;
}

.left{
    background-color:#fff;
}
.left-img img{
    width: 100%;
}

.left-img{
    position: relative;
}


.left-img h2{
    position: absolute;
    bottom: 6px;
    right:1rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
}

.right{
    background-color: #fff;
    line-height: 1.5rem;
}

.experience ,.education{
    margin: 1rem;
    padding: 1rem;
}

footer{
    background-color: gray;
    padding: 2rem;
    text-align: center;
    color: blue;
    line-height: 2rem;
}